@charset "utf-8";
body {
	padding-top: 70px;
}
.glyphicon{
	color:#cdae51;
}

.btn-info{
	background-color:#cdae51;
	border-color: #3f2b22;
}

.btn-info:hover{
	background-color:#3f2b22;
	border-color: #333;
}
.tab-pane{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1em;
}

footer {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 3em;
	margin-right: 0em;
	margin-bottom: 3em;
	margin-left: 0em;
	padding-right: 0em;
	padding-left: 0em;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
}
